/*  top nav bar CSS  */
.top-navbar{
  background: url('./logos/top-header.png');
  /* width: 100%; */
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  background-size: cover;
  padding-top: 16px;
  padding-bottom: 16px;
}

.bg-light{
  background: #ffffff;
}

.rounded-circle{
  background: #971723;
}
/* .social-icon img{
 background: #ffffff;

}
.social-icon li{
  background: #ffffff;
  height: 23px;
  width: 23px;
} */

.navbar-bg{
  background-color: #ffffff;
}

.background-banner{
  width: 100%;
}

.nav-link{
  font-weight: bold;
}

/* .navbar-1{
  padding-left: ;
} */
.social-icon {
  height: 45px;
  width: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
}
.fa-icon{
  color: #ffffff;
}
.social:last-child{
  margin-right: 0px;
}

.social{
  margin-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

.became-volunteer{
  font-size: 18px;
}
.social li a img{
  height: 18px;
 
}
.social  li a img{
  text-align: center;
}
.menu-bar{
  text-align: center;
}
/* ------------------- nav bar ------------------------------*/

div .HC4A-logo {
  top: -25px;
  left: 10px;
}
.navbar-donate-btn{
  background: #971723;
}

/* ------------------------------ menu bar -------------------- */


/* div .relative {
    position: relative;
} */

div .absolute {
  position: absolute;
}

/* div .service-learn{
  position: absolute;
  top: 85px; 
  background: rgba(47, 47, 47, 0.6);
  box-shadow: 0px 0px 15px 5px rgba(255, 211, 42, 0.4);
  min-width: 764px;
  z-index: 1;
  padding: 0px 55px;
} */
.service-learn p {
  font-weight: normal;
  font-size: 20px;
  padding: 34px 0px;
}
.service-heading{
  padding-top: 55px;
}

/* .register-btn{
  padding-bottom: 55px;
}  */
.nav-item{
  font-size: 14px;
}


/*  ----------------------- POMASONE ------------------ */ 
.pamasone{
  background-color: #ffffff;
  justify-content: center;
  text-align: center;
}
.button-1{
   background-color: #253F7F;
   height: 70px;
   border: none;
   padding: 15px 26px;
   min-width: 80px;
   font-weight: bold;
}
.button-2{
   background-color: #971723;
   height: 70px;
   border: none;
   padding: 15px 26px;
   min-width: 80px;
   font-weight: bold;
}
.button-3{
   background-color: #718093;
   height: 70px;
   border: none;
   padding: 15px 26px;
   min-width: 80px;
   font-weight: bold;
}
.pamasone p{
   font-size: 20px;
   padding: 45px 0px 15px 0px;
   font-weight: bold;
}
.pamasone-button{
   margin: 0px 0px 45px 0px;

}
button{
   padding: 10px;
}
.btn{
   margin: 16px;
}