    /*  top nav bar CSS  */
.top-navbar{
  background: url('./logos/top-header.png');
  /* width: 100%; */
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  background-size: cover;
  padding-top: 16px;
  padding-bottom: 16px;
}

.bg-light{
  background: #ffffff;
}

.rounded-circle{
  background: #971723;
}
/* .social-icon img{
 background: #ffffff;

}
.social-icon li{
  background: #ffffff;
  height: 23px;
  width: 23px;
} */

.navbar-bg{
  background-color: #ffffff;
}

.background-banner{
  width: 100%;
}

.nav-link{
  font-weight: bold;
}

/* .navbar-1{
  padding-left: ;
} */
.social-icon {
  height: 45px;
  width: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
}
.fa-icon{
  color: #ffffff;
}
.social:last-child{
  margin-right: 0px;
}

.social{
  margin-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

.became-volunteer{
  font-size: 18px;
}
.social li a img{
  height: 18px;
 
}
.social  li a img{
  text-align: center;
}
.menu-bar{
  text-align: center;
}
/* ------------------- nav bar ------------------------------*/

div .HC4A-logo {
  top: -25px;
  left: 10px;
}
.navbar-donate-btn{
  background: #971723;
}

/* ------------------------------ banner section -------------------- */

div .absolute {
  position: absolute;
}

div .service-learn {
  text-align: center;
  position: absolute;
  width: 136px;
  top: 115px;
  /* bottom: 120px; */
  /* left: 0px; */
  right: 331px;
  min-width: 764px;
  z-index: 1;
  /* padding: 0px 55px; */
}
.banner-donate-btn{
  background: #F2A922;
  border: none;
  border-radius: 20px;
}
.banner-register-btn{
  background: #971723;
  border: none;
  border-radius: 20px;
}
h2.service-heading {
  font-size: 42px;
}

.nav-item{
  font-size: 14px;
}
.register-btn-div{
  margin-top: 59px;
}

.banner-sec-3{
  position: relative;
  bottom: 71px;
}
.banner-sub-1-sec{
  background: #253F7F;
  padding: 28px;
}
.banner-sub-2-sec{
  background: #971723;
  padding: 28px;
}
.banner-sub-3-sec{
  background: #1A252E;
  padding: 28px;
}
.banner-sub-1-sec-para, .banner-sub-2-sec-para, .banner-sub-3-sec-para{
  color: #ffffff;
  font-size: 16px;
}
.banner-sub-1-sec-heading, .banner-sub-2-sec-heading ,.banner-sub-3-sec-heading{
  color: #ffffff;
  font-size: 23px;
}
.banner-sub-1-sec-btn, .banner-sub-2-sec-btn, .banner-sub-3-sec-btn{
  border-radius: #ffffff;
}
.banner-sub-1-sec-btn, .banner-sub-2-sec-btn, .banner-sub-3-sec-btn{
  background: none;
}